---
layout: default
---
<article class="container" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        <h4 class="post-title" itemprop="name headline">{{ page.title }}</h4>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span
                itemprop="author" itemscope itemtype="https://schema.org/Person"><span
                    itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
    </header>

    <div class="text-justify" itemprop="articleBody">
        {{ content }}
    </div>

</article>